<!DOCTYPE html>
<html>
	<head>
		<title>creepster</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/map.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body>

    {% block content %}
    {% endblock %}

		<script src="{{ url_for('static', filename='scripts/jquery-1.12.3.min.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/map.js') }}"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</html>
