{% extends 'base.html' %}
{% block content %}
    <h1>{{search}} Profile</h1>
    {% if no_twitter %}
      <h3>{{search}} does not have a Twitter acccount or has protected tweets.</h3>
    {% else %}

      <h4>{{t_loc}} {{t_desc}}</h4>
      {% if hashtags|length > 0 %}
        <h3> {{search}} is so
        {% for ht in hashtags %}
      	 #{{ht}}
        {% endfor %}
        </h3>
      {% endif %}
      {% if retweet|length > 0 %}
        <h3>{{search}} promotes
        {% for rt in retweet %}
        	{{rt}},
        {% endfor %}
      </h3>
      {% endif %}
      
    {% endif %}
    {% if t_pic|length > 0 %}
      <h3> {{search}} Most impactful photos</h3>
      {% for photo in t_pic %}
      <img src="{{photo}}" height="200" width="200" />
      {% endfor %}
    {% endif %}
    {% if media_missing %}
      <h3>
        We couldn't find a public Instagram account for {{search}}.
      </h3>
    {% elif no_locations %}
      <h3>
        {{search}} did not share any locations on Instagram.
      </h3>
    {% else %}
      <h3> Here are some places you've been </h3>
      <div id='map-wrapper'>
        <div id='map-canvas' class='mapping'></div>
      </div>
    {% endif %}
  <script type='text/javascript'>
    window.markers = {{markers|safe}}
  </script>
{% endblock %}
