{% extends 'base.html' %}
{% block content %}
  <!-- Start content container -->
  <div class="container">

    <!-- First row -->
    <div class="row">

      <!-- Start Profile card -->
      <div class="col s12 m6 l6">
        {% if profile %}
        <div class="card">
          <div class="card-image">
            <img src="{{profile}}">
            <span class="card-title"> {{search}} </span>
          </div>
          <div class="card-content">
            <p>{{t_loc}}</p>
            <p>{{t_desc}}</p>
            {% if "cat" in animals or "kitten" in animals%}
            <p><img class="img-circle" src="{{ url_for('static', filename='cat_icon.png') }}" height="30" width="15" /> {{search}} likes cats</p>
            {% endif %}
            {% if "dog" in animals or "puppy" in animals or "puppies" in animals %}
            <p><img class="img-circle" src="{{ url_for('static', filename='dog_icon.png') }}" height="30" width="20" /> {{search}} likes dogs</p>
            {% endif %}
          </div>
        </div>
        {% else %}
         <img class="img-circle" src="{{ url_for('static', filename='avatar.png') }}" height="200" width="200" />
        {% endif %}
      </div>
      <!-- End Profile card -->

      <!-- Start Twitter info card -->
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            {% if no_twitter %}
              <h3> {{search}} does not have a Twitter account or has protected tweeets </h3>
            {% elif rate_limited %}
              <h3> We're experiencing a lot of traffic and Twitter has blocked our API requests. Please try again shortly! </h3>
            {% else %}
              {% if hashtags|length > 0 %}
                <div class="card-p">
                  <p class="large-text">
                    {{search}} often retweets:
                    {% for ht in hashtags %}
                      #{{ht}},
                    {% endfor %}
                  </p>
                </div>
              {% endif %}

              {% if retweet|length > 0 %}
                <div class="card-p">
                  <p class="large-text">
                    {{search}} promotes:
                    {% for rt in retweet %}
                      {{rt}},
                    {% endfor %}
                  </p>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      <!-- End Twitter info card -->

      <!-- Start social media stats card -->
      {% if not no_twitter %}
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <div class="card-p">
              <h4> Twitter </h4>
              <p class="large-text">
                Followers: {{t_stats["followers"]}}
                Following: {{t_stats["following"]}}
                Tweets: {{t_stats["tweets"]}}
              </p>
            </div>
            <div class="card-p">
              <h4> Instagram </h4>
              <p class="large-text">
                Followers: {{i_stats["followed_by"]}}
                Following: {{i_stats["follows"]}}
                Posts: {{i_stats["media"]}}
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- End social media stats card -->

    </div>
    <!-- End first row -->


    <!-- Start second row -->
    <div class="row photo-grid">

      {% if t_pic|length > 0 %}
      <div class="col s12 m12 l12">
        <!-- Start twitter image cards -->
        {% for photo in t_pic %}
          <div class="card grid-item image-card">
            <a target="_blank" href="{{photo['tweet_url']}}">
              <div class="card-image">
                  <div class="image-hover">
                    <ul class="icon-list">
                      <li>
                        <span><i class="fa fa-retweet" aria-hidden="true"></i> {{photo['retweets']}} </span>
                      </li>
                      <li>
                        <span><i class="fa fa-star" aria-hidden="true"></i> {{photo['favorites']}} </span>
                      </li>
                    </ul>
                  </div>
                  <img class="media-image" src="{{photo['image_url']}}"/>
              </div>
            </a>
          </div>
        {% endfor %}
      {% endif %}

      {% if i_pic|length > 0 %}
        {% for photo in i_pic %}
          <div class="card grid-item image-card">
            <a target="_blank" href="{{photo['post_url']}}">
              <div class="card-image">
                  <div class="image-hover">
                    <ul class="icon-list">
                      <li>
                        <span><i class="fa fa-heart" aria-hidden="true"></i> {{photo['likes']}} </span>
                      </li>
                      <li>
                        <span><i class="fa fa-comment" aria-hidden="true"></i> {{photo['comments']}} </span>
                      </li>
                    </ul>
                  </div>
                  <img class="media-image" src="{{photo['image_url']}}"/>
              </div>
            </a>
          </div>
        {% endfor %}
      {% endif %}
      </div>

    </div>
    <!-- End second row -->


    <!-- Start third row -->
    <div class="row">

      <!-- Start map card -->
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card-content">
          {% if media_missing %}
            <p class="large-text">
              We couldn't find a public Instagram account for {{search}}.
            </p>
          {% elif no_locations %}
            <p class="large-text">
              {{search}} did not share any locations on Instagram.
            </p>
          {% elif rate_limited %}
            <p class="large-text">
              We're experiencing a lot of traffic and Twitter has blocked our API requests. Please try again shortly!
            </p>
          {% else %}
            <div id="map-wrapper">
              <div id="map-canvas" class="mapping"></div>
            </div>
          {% endif %}
          {% if not media_missing and not no_locations and not rate_limited %}
          <div class="card-action">
            <p class="large-text"> Places {{search}} has been </p>
          </div>
          {% endif %}
          </div>
        </div>
      </div>
      <!-- End map card -->

    </div>
    <!-- End third row -->


    <!-- Start fourth row -->
    {% if spotify_uris['track']|length > 0 or spotify_uris['artist']|length > 0 or spotify_uris['album']|length > 0 or spotify_uris['playlist']|length > 0 %}
    <div class="row">

      <!-- Start Spotify card -->
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card-content">
            <!-- Tracks -->
            {% for track in spotify_uris['track'] %}
              <iframe src="https://embed.spotify.com/?uri={{track}}" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
            {% endfor %}

            <!-- Artists -->
            {% for artist in spotify_uris['artist'] %}
              <iframe src="https://embed.spotify.com/?uri={{artist}}" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
            {% endfor %}

            <!-- Albums -->
            {% for album in spotify_uris['album'] %}
              <iframe src="https://embed.spotify.com/?uri={{album}}" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
            {% endfor %}

            <!-- Playlists -->
            {% for playlist in spotify_uris['playlist'] %}
              <iframe src="https://embed.spotify.com/?uri={{playlist}}" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- End Spotify card -->

    </div>
    {% endif %}
    <!-- End fourth row -->


    <!-- Start fifth row -->
    {% if youtube_uris|length > 0 %}
    <div class="row">

      <!-- Start youtube cards -->
      {% for uri in youtube_uris %}
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <iframe class="iframe-full-width" height="320" src="{{uri}}" frameborder="0"></iframe>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    {% endif %}
    <!-- End fifth row -->


    <script type='text/javascript'>
      window.markers = {{markers|safe}}
    </script>

  </div>
  <!-- End content container -->
{% endblock %}
